<div id="container">
  <span id="header">
  <div id="banner">Pescando Con Dondi</div>
    <div id="botonera">
      <ul>
        <li id="logo"><a [routerLink]="['']">

          <div class="example-button-row">
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon [ngStyle]="{'color':'white'}" >home</mat-icon>
          </button>
          </div>
        </a></li>
        <li>
          <a [routerLink]="['/represas']" [routerLinkActive]="['actived']">
            Represas
            <!--
            <button mat-button [matMenuTriggerFor]="menu">Represas</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Playas</button>
              <button mat-menu-item>Jaguas</button>
            </mat-menu>-->
          </a>
        </li>
        <li>
          <a [routerLink]="['/servicios']" [routerLinkActive]="['actived']">
            Servicios
          </a>
        </li>
        <li>
          <a [routerLink]="['/galeria']" [routerLinkActive]="['actived']">
            Galeria
          </a>
        </li>
        <li>
          <a [routerLink]="['/nuestro-equipo']" [routerLinkActive]="['actived']">
            Nuestro Equipo
          </a>
        </li>
        <li>
          <a [routerLink]="['/contactenos']" [routerLinkActive]="['actived']">
            Contactenos
          </a>
        </li>
      </ul>
    </div>
  </span>
  <div id="manejador">
    <section id="content">
      <router-outlet></router-outlet>
    </section>
  </div>
  <footer id="">Copy Right JSA</footer>
</div>
