<div id="container">
  <div id="banner">PencandoConDondi</div>

  <header>
    <div id="botonera">
      Botonera
      <ul>
        <li>
          <a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']"
            >Represas</a
          >
        </li>
        <li>
          <a [routerLink]="['/contactenos']" [routerLinkActive]="['actived']"
            >Contactenos</a
          >
        </li>
      </ul>
    </div>
  </header>
  <div id="manejador">
    Manejador
    <section id="content">
      <router-outlet></router-outlet>
    </section>
  </div>
  <footer id="">Eso es todo amigos</footer>
</div>
