@font-face {
  font-family: "Lobster";
  src: url("font/Lobster 1.4.otf");
}
@font-face {
  font-family: "Finger";
  src: url("font/Finger.ttf");
}
/**/
* {
  margin: 0px;
  padding: 0px;
}

/*Estilos generales*/
body {
  font-family: "Lobster", Arial, Helvetica;
  font-size: 20px;
  background: url("../img/pattern.png");
  background-attachment: fixed;
}
