<div class="grid-container">
  <div class="grid-represa">
    <div class="grid-represa-foto">
      <img src="../../../assets/img/represa_jaguas/panoramica.jpg" />
    </div>
    <div class="grid-represa-clave">Nombre:</div>
    <div class="grid-represa-valor">
      Embalse de San Lorenzo - Central hidroeléctrica Jaguas
    </div>
    <div class="grid-represa-clave">Ubicación:</div>
    <div class="grid-represa-valor">
      Está localizada en el departamento de Antioquia, sobre las hoyas de los
      ríos Nare y Guatapé y a 117 km al oriente de Medellín. En jurisdicción,
      limita con los municipios de San Rafael, San Roque, Alejandría, Concepción
      y Santo Domingo.
    </div>
    <div class="grid-represa-clave">Especies:</div>
    <div class="grid-represa-especie-container">
      <div class="grid-represa-especie">
        <div class="grid-represa-especie-foto">
          <img src="../../../assets/img/especies/mojarra_azul.jpg"/>
        </div>
        <div class="grid-represa-especie-clave">Nombre</div>
        <div class="grid-represa-especie-valor">Mojarra azul - Caquetaia umbrifera</div>
        <div class="grid-represa-especie-clave">Descripción</div>
        <div class="grid-represa-especie-valor">
          <p>Es una especie de peces de la familia Cichlidae en el orden de los Perciformes.</p>
          <p>Los machos pueden llegar alcanzar los 47,5 cm de longitud total.</p>
          </div>
      </div>
      <div class="grid-represa-especie">
        <div class="grid-represa-especie-foto">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Micropterus_salmoides.jpg"/>
        </div>
        <div class="grid-represa-especie-clave">Nombre</div>
        <div class="grid-represa-especie-valor">Large mouth black bass - Micropterus salmoides</div>
        <div class="grid-represa-especie-clave">Descripción</div>
        <div class="grid-represa-especie-valor">
          <p>Es una especie de pez perciforme de la familia Centrarchidae.</p>
          <p>Esta especie es originaria de Norteamérica.</p>
          </div>
      </div>
      <div class="grid-represa-especie">
        <div class="grid-represa-especie-foto">
          <img src="../../../assets/img/especies/mojarra_azul.jpg"/>
        </div>
        <div class="grid-represa-especie-clave">Nombre</div>
        <div class="grid-represa-especie-valor">Mojarra azul - Caquetaia umbrifera</div>
        <div class="grid-represa-especie-clave">Descripción</div>
        <div class="grid-represa-especie-valor">
          <p>Es una especie de peces de la familia Cichlidae en el orden de los Perciformes.</p>
          <p>Los machos pueden llegar alcanzar los 47,5 cm de longitud total.</p>
          </div>
      </div>
    </div>
  </div>
  <div class="grid-represa">Represa 2</div>
</div>
